@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }
}
