@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .addProduct::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 770px) {
  .header-search {
    display: none;
  }

  .addProduct {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: none;
  }
}
